ul.repo-list {
  width: 100%;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 10px;
  margin-bottom: 30px;
}

ul.repo-list li {
  display: flex;
  flex-direction: column;
}

ul.repo-list li header {
  width: 100%;
  height: 180px;
  background-size: cover;
  border-radius: 4px;
}

ul.repo-list li strong {
  margin-top: 10px;
  font-size: 24px;
  color: #444;
}

ul.repo-list li span {
  font-size: 15px;
  color: #999;
}
